CSS ->  Cascading Style Sheet

CSS is the language we use to style an HTML document.
CSS describes how HTML elements should be displayed.


                                             Inline CSS
                                             ----------

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Ayyappan </title>
  </head>
  <body style="background-color: powderblue;">
    <table cellspacing="20">
      <tr>
        <td>
          <img src="ayyappan.png" alt="Ayyappan Image" width="150" height="150" />
        </td>
        <td>
          <h1> Ayyappan </h1>
          <p>
            <em> MTech Software Engineer @ <strong> VIT University  </strong> </em>
          </p>
          <p> Hello, my name is Ayyappan A. I’m studying software engineering
      because I’m passionate about exploring ways technology can provide
      practical solutions to everyday problems. I’m particularly interested
      in Ethical Hacking related to the field of Cyber Security. I’m looking
      to connect with engineers and other professionals who are currently
      working in that field. </p>
        </td>
      </tr>
    </table>
    <hr>
  </body>
</html>


              
                                             Internal CSS
                                             ------------

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Ayyappan </title>
    <style>
      body {
       background-color: blue;
      }

      hr {
        border-style: none;
        border-top-style: dotted;
        border-color: black;
        border-width: 10px;
        width: 30%;
      }

    </style>

  </head>
  <body>
    <table cellspacing="20">
      <tr>
        <td>
          <img src="ayyappan.png" alt="Ayyappan Image" width="150" height="150" />
        </td>
        <td>
          <h1> Ayyappan </h1>
          <p>
            <em> MTech Software Engineer @ <strong> VIT University  </strong> </em>
          </p>
          <p> Hello, my name is Ayyappan A. I’m studying software engineering
      because I’m passionate about exploring ways technology can provide
      practical solutions to everyday problems. I’m particularly interested
      in Ethical Hacking related to the field of Cyber Security. I’m looking
      to connect with engineers and other professionals who are currently
      working in that field. </p>
        </td>
      </tr>
    </table>
    <hr>
  </body>
</html>

  
              
CSS Syntax

selector { property : value ;}

eg: body { background-color: pink; }

# here the selector is anything [ body, hr, h1, p.....]
# property -> background-color, width, height.....
# value -> red, 30% ........              
              
              
              
                                         External CSS
                                         ------------              

              
index.html              
------------
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="CSS/style.css">

  </head>
  <body>
    <table cellspacing="20">
      <tr>
        <td>
          <img src="ayyappan.png" alt="Ayyappan Image" width="150" height="150" />
        </td>
        <td>
          <h1> Ayyappan </h1>
          <p>
            <em> MTech Software Engineer @ <strong> VIT University  </strong> </em>
          </p>
          <p> Hello, my name is Ayyappan A. I’m studying software engineering
      because I’m passionate about exploring ways technology can provide
      practical solutions to everyday problems. I’m particularly interested
      in Ethical Hacking related to the field of Cyber Security. I’m looking
      to connect with engineers and other professionals who are currently
      working in that field. </p>
        </td>
      </tr>
    </table>
    <hr>
  </body>
</html>

style.css
---------
              
body {
 background-color: powderblue;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 10px;
  width: 30%;
}

h1 {
  color: red;
}
   
/*****************************************************************************************/

                           Giving background color for seperate images 



index.html
----------

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="CSS/style.css">

  </head>
  <body>
    <table cellspacing="20">
      <tr>
        <td>
          <img src="ayyappan.png" alt="Ayyappan Image" width="150" height="150" />
        </td>
        <td>
          <h1> Ayyappan </h1>
          <p>
            <em> MTech Software Engineer @ <strong> VIT University  </strong> </em>
          </p>
          <p> Hello, my name is Ayyappan A. I’m studying software engineering
      because I’m passionate about exploring ways technology can provide
      practical solutions to everyday problems. I’m particularly interested
      in Ethical Hacking related to the field of Cyber Security. I’m looking
      to connect with engineers and other professionals who are currently
      working in that field. </p>
        </td>
      </tr>
    </table>
    <img class="broccoli" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/broccoli_1f966.png" alt="broccoli">
    <img class="bacon" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/bacon_1f953.png" alt="bacon">
    <hr>
  </body>
</html>




style.css
---------

/***********Class selectors****************not unique********/     

.bacon {
  background-color: green;                 /*** Giving background color for seperate images***/
}

.broccoli {
  background-color: red;
}


#-----------------------------------------------------------------------------------------


img:hover {
  background-color: gold;  /*** The :hover selector is used to select elements when you mouse over them. **/
}

              
